.container {
  display: inline-block;
  position: relative;
}

.button {
  width: 100%;
  background-color: var(--color-bg-light);
  color: var(--color-white);
}

.label {
  box-sizing: border-box;
  position: absolute;
  width: 150%;
  top: 80px;
  left: -25%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background: var(--color-bg-light);
  padding: 10px;
  border-radius: 10px;
  outline: 1px solid var(--color-accent);
}
