.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
}

.label {
  position: relative;
}

.hashContainer {
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: auto 100px;
  align-items: center;
  gap: 20px;
}

.highlighted {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #747bff;
}