.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  position: relative;
}

.hashContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto 100px;
  align-items: center;
  gap: 20px;
}

.hashContainer h3 {
  margin: 0;
}