.container {
  width: 600px;
  padding: 25px;
  background: #2b2b2b;
  border-radius: 30px;
}

.upload {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  border: 2px dashed rgb(182, 255, 237);
}

.upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}